.navigation{
    display: flex;
    list-style: none;
    gap: 32px;
}

.navigation a{
    text-decoration: none;
    color: #f0f0f0;
}

.header{
    width: 90vw;
    /* padding: 2em; */
    margin: 1vw 5vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header a svg{
    color: rgba(10,72,116,1);
    font-size: 2em !important;
}
.header a svg path{
    stroke: #CCFEA4!important;
    stroke-width: 5%!important;
  }
.header a{
    width: 2em;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

@media only screen and (min-width: 700px) {
    
.header a{
    font-size: 1em;
}
}