#top{
    margin: 3em 0;
}
#project-wraper{
    font-family: 'Unbounded', cursive;
    color: white;
    min-height: 100vh;
    /* width: 100vw; */
    background-image: url('../public/grid-faint.png'), radial-gradient( rgba(10,72,116,1)80%, #CCFEA4);
    background-position:center;
    background-repeat: repeat, no-repeat;
    overflow-x:hidden;
    margin: -0.5em !important;
}
.projectWrap{
    width: 80%;
    margin: auto;
}
#content{
    font-size: small;
}
.role{
    color: #CCFEA4;
    text-transform: uppercase;
    font-weight: bolder;
    display: block;
    margin: 2em 0;
}
/* video{
    border: 10px solid #77E0EE;
    border-radius: 15px;
    height: 100%;
} */
.videos{
    margin: 5em 0 1em 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.vidDesk{
    margin-top: 1em;
    width: 100%;
    float: right;
}
.vidMob{
    height: 80%;
    width: 100%;
    float: right;
    margin: auto;
}
.vidSwitch{
    width: 25%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}
.vidSwitch button{
    margin: 1em;
}
#project-wraper h1{
font-size: 2em;
}
@media only screen and (min-width: 768px) {
    #top{
        margin: 1em 0;
    }
    #project-wraper h1{
        font-size:4em;
        }
    .projectWrap{
        width: 50%;
    }
}
@media only screen and (min-width: 1000px) {
    .videos{
        margin: 8em 0;
        width: 100%;
        display: flex;
        overflow: hidden;
        height: 500px;
        justify-content: space-between;
        align-items: center;
        flex-direction: row
    }
    .vidDesk{
        width: 70%;
        float: right;
    }
    .vidMob{
        height: 100%;
        width: auto;
        float: right;
        margin: auto;
    }
    .vidSwitch{
        width: 25%;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
    }
}